<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ru.alex.forzahorizon4tuner">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:logo="@drawable/ic_logo_tuner"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppThemeWhiteText"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">

        <activity
            android:name="com.sideki.forzahorizon4tuner.view.SplashScreen"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.sideki.forzahorizon4tuner.MainActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>